<% layout('./layout/page.ejs') -%>
<% block('title', 'SR 112') -%>

<style type="text/css">

</style>

<form id="menu" align = "center ">
    <p>АДМИНИСТРИРОВАНИЕ</p>
    <div>
        <a href="/problem">Задания</a>
    </div>
    <div>
        <a href="/user">Пользователи</a>
    </div>
    <div>
        <a href="/statistics">Статистика</a>
    </div>
</form>