<% layout('./layout/page.ejs') -%>
<% block('title', 'SR 112') -%>

<!-- finish -->

<style type="text/css">
    .imgbody {
        background: url('images/finish.png');
        width: 768px;
        height: 432px;
    }
</style>

<div class="imgbody"></div>
