<% layout('./layout/page2.ejs') -%>
<% block('title', 'SR 112') -%>

<style type="text/css">
    .imgbody {
        background: url('images/ff97.jpg');
        width: 720px;
        height: 540px;
    }
</style>

<div class="imgbody"></div>
