<% layout('./layout/page2.ejs') -%>
<% block('title', 'SR 112') -%>

<p class="lead">Добавление глобальных бонусов</p>

<form id="globalbonus" class="form-inline" action="/globalbonus" method="POST" name="globalbonus-form">
    <input name="user" type="text" class="form-control" id="input-user" placeholder="Имя"/>
    <input name="answer" type="text" class="form-control" id="input-answer" placeholder="Ответ"/>
    <input type="submit" class="btn btn-primary" value="зачислить"/>
</form>
