<html>
<head>
	<title>SR 128</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full&skin=dark" data-id="dgLoader"></script>
	<script src="js/viewport-units-buggyfill.js"></script>
	<script src="js/viewport-units-buggyfill.hacks.js"></script>
<script type="text/javascript">
	if(navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i))
 	{
		document.write('<link rel="stylesheet" 	type="text/css"       href="stylesheets/style-apple.css">')
	}
	else
	{
		document.write('<link rel="stylesheet" 	type="text/css"       href="stylesheets/style-mobile.css">');
		window.viewportUnitsBuggyfill.init({
			refreshDebounceWait: 250,
			hacks: window.viewportUnitsBuggyfillHacks
		});
	}
	
	</script>

<script type="text/javascript">
		function submitAnswer() {
			$.ajax({
				type: "POST",
				url: "/rest/",
				data: {
					answer: $('.mainInput').val(),
					topic: $('.mainInput').attr('id')
				},
				success: function(resp) {
					if (resp.status==404)
					{
						$('#answerStatus').html(resp.message);
						$('#answerStatus').removeClass('correct');
						$('#answerStatus').addClass('wrong');
						$('.mainInput').val("")
					}
					else {
						$('#answerStatus').html(resp.message);
						$('#answerStatus').removeClass('wrong');
						$('#answerStatus').addClass('correct');
						$('.mainInput').val("")
						drawMarkers(markers);
						$('#currentTask').html('');
						$('.mainInput').attr('id','');						
					}
				},
				error: function (xhr) {
						var resp = xhr.responseJSON;
						$('#answerStatus').html(resp.message);
						$('#answerStatus').removeClass('correct');
						$('#answerStatus').addClass('wrong');
						$('.mainInput').val("")
					  }
				
			});
		}
	</script>

<script type="text/javascript">
	//menu
	$(document).ready(function(){
		$('.liClick').click(function () {

		if (!$(this).hasClass('active')) {
			$('.active').removeClass('active');
			$(this).addClass('active');
			$('.dropDown')
				.stop()
				.slideDown(300);
		}
		else{
			$('.dropDown')
				.stop()
				.slideToggle(300);
			$('.active').removeClass('active');	
		}
	});
	$('#tabs').tabs({
        hide: {
            effect: "slide",
            direction: "left",
            duration: 300
        }
    });
});


function testGeo(){
	if(!navigator.geolocation) {
  		alert("API геолокации не поддерживается вашим устройством :(");
	}
}

</script>
</head>

<body onLoad="testGeo();">

<div class="loading">
	<p>Карта грузится, ждите</p>
</div>

<div class="mainCont" id="tabs">
<ul>
<li class="selector" id="sel1"><div class="liClick"><a href="#tabs-1"<span class="menuHead" id="span1">Коды</span></a></div></li>
<li class="selector" id="sel2"><div class="liClick"><a href="#tabs-2"<span class="menuHead" id="span2">Дела</span></a></div></li>
<li class="selector" id="sel3"><div class="liClick"><a href="#tabs-3"<span class="menuHead" id="span3">Инфо</span></a></div></li>
</ul>
	<div class = "dropDown" id="drop1">
		<div class="tabs" id="tabs-1">
		<p id="currentTask"></p>
		<p id="answerStatus" class="textInSlide"></p><br/>
			<input class="mainInput" type="text" placeholder="Введите код">
			</br>
			<input class="okBut" type="button" value="OK" onclick="submitAnswer();">
			</br></br>
		</div>
	
	<div class="tabs" id="tabs-2">
			<span class="textInSlide" id="taskText"></span></br>
		</div>
 
	<div class="tabs" id="tabs-3">
			
		</div>
		
</div>
</div>


<div id="map"></div>
	<script type="text/javascript">
    var map,
		moveMarker,
		myIcon,
		myDivIcon;
	mapReady = false;
	var watchId;
	var playerLat, playerLon;

    DG.then(function () {
        map = DG.map('map', {
            center: [57.77, 40.90],
            zoom: 13,
			fullscreenControl: false,
			minZoom: 13,
			maxBounds: [
				[57.700070, 40.676097],
				[57.829414, 41.052981]
			],
			zoomControl: false,
			//watch:true,
			//setView:true,
			//enableHighAccuracy:true
        });
		
	 DG.control.location({position:'bottomright'}).addTo(map);
	 DG.control.zoom({position:'bottomleft'}).addTo(map);
		
markers = DG.featureGroup(); //marker group

drawMarkers(markers);

markers.addTo(map); //adding marker group to map 

map.setView([57.743586, 40.909781], 13);
	
map.whenReady(watchMyAss); //вызываем функцию, когда загрузка карты завершилась

setInterval(function () {
	var currentdate = new Date();
		$.ajax({
			type: "POST",
			url: "/rest/coords",
			data: {
				lat: playerLat,
				lon: playerLon,
				timestamp: currentdate.toISOString()
			},
			success: function(resp) {
				if (resp.reload) {
					alert(resp.message);
				}
			}
		});  
	}, 3000);

});


function drawMarkers(markers){
markers.clearLayers();
	$.ajax({
		url: "/rest/",
		success: function(data) {
		
				var curNumber = 0;	
				var parsed = data;

				while (curNumber<parsed.length) {
					DG.marker(
						[ parsed[curNumber].x, parsed[curNumber].y],
						{ icon: DG.icon({iconUrl:parsed[curNumber].icon, iconSize: [48,48]})}
					).addTo(markers)
					.bindPopup('')
					.on('click', function (e) {
						var url = 
						$.ajax({  
							type: "GET",  
							url: "/rest/?topic=" + e.target._popup.getHeaderContent(),
							success: function(resp) {
						$('.mainInput').attr('id',e.target._popup.getHeaderContent());
						$('#currentTask').html(e.target._popup.getHeaderContent());
						$('#taskText').html(resp.question);
						$('#answerStatus').html('');
							}
						});
						$('#taskText').html('');
						$('.mainInput').attr('id',e.target._popup.getHeaderContent());
					})._popup.setHeaderContent(parsed[curNumber].topic);
					DG.circle([parsed[curNumber].x,parsed[curNumber].y], 50, {color: 'black', fillColor:'yellow', clickable:'false'}).addTo(markers);
					curNumber++;	
				}
		},
		error: function (xhr, ajaxOptions, thrownError) {
			console.log(xhr.status);
			console.log(thrownError);
		  }
	});
}


function watchMyAss(){
  watchId = navigator.geolocation.watchPosition(
	function( position ){
		playerLat = position.coords.latitude;
		playerLon = position.coords.longitude;
		},
	function error(err) {
//	  console.warn('ERROR(' + err.code + '): ' + err.message);
	},
	{  enableHighAccuracy: true,
		timeout: 10000,
		maximumAge: 0}
    );	
	
}
</script>

</body>
</html>
