<% layout('./layout/page.ejs') -%>
<% block('title', 'SR 112') -%>

<style type="text/css">

    div.row{
        height:45px;
        margin-left:38px;
    }
    div#r1{
        margin-top:145px;
        margin-left:38px;
        height:45px;
    }

    .mapbody{
        color: rgba(0, 0, 0, 0);
        position:absolute;
        margin-top:0px;
        top:0px;
        background: url(images/map4.jpg);
        height:768px;
        width:1024px;
        font-size:12px;
    }
    .field{
        border:1px solid black;
        height:44px;
         width:44px;
        float:left;
    }
    .np{
        background: rgba(255, 0, 0, 0.5);
    }
    .al{
        background: rgba(255, 0, 0, 0.5);
    }
    .me{
        background: rgba(0, 255, 0, 0.5);
    }
    .bs{
        background: rgba(155, 155, 255, 0.5);
    }

</style>

<div class="mapbody">   
  <% for (var i=1; i<=12; i++ ) { %>
    <div class="row" id="r<%= i %>">
      <% for (var j=1; j<=21; j++ ) { -%>
        <div onclick="onFieldClick(this, <%= i + ', ' + j %>);" class="<%= i + '-' + j %> field"></div>
      <% } -%>
    </div>
  <% } %>
</div>

<script>
    function onFieldClick(obj, x, y) {
        var cls = obj.className;
        var pos = { X:x, Y:y };
        $.ajax({
            url: "/map",
            data: { position : pos },
            method: "POST",
            complete: function() {
                console.log("complete", arguments); // TODO: error handling?
            },
            statusCode: {
                200: function(res) {
                    console.log("post 200", arguments);
                    $(".me").removeClass("me");
                    $("." + res.position.X + "-" + res.position.Y).addClass("me");
                },
                403: function(jqXHR) {
                    console.log("403", arguments);
                }
            }
        });
    }
</script>

<script>
    $(function() {
        $.ajax({
            url: "/map?full=true",
            data: "",
            method: "GET",
            statusCode: {
                200: function(res) {
                    $(".field").addClass("np");
                    for (var i=0; i< res.length; i++) {
                        var p = res[i];
                        console.log(p);
                        $("." + p.X + "-" + p.Y).removeClass("np");
                    }
                },
                403: function(jqXHR) {
                    console.log("403", arguments);
                }
            }
        });
        $.ajax({
            url: "/map",
            data: "",
            method: "GET",
            statusCode: {
                200: function(res) {
                    $(".me").removeClass("me");
                    $("." + res.Y + "-" + res.X).addClass("me");
                },
                403: function(jqXHR) {
                    console.log("403", arguments);
                }
            }
        });
    });
</script>
