<% layout('./layout/page.ejs') -%>
<% block('title', 'SR 112') -%>

<style type="text/css">

    div.row{
        height:45px;
        margin-left:38px;
    }
    div#r1{
        margin-top:20px;
        margin-left:38px;
        height:45px;
    }
    .listimage{
        margin-top:95px;
        margin-left:43px;
        width:40px;
        height:30px;
        cursor:pointer;
    }
    img.list:hover{
        -moz-box-shadow: 0 0 20px #fff;
        -webkit-box-shadow: 0 0 20px #fff;
         box-shadow: 0px 0px 20px #fff;
    }
    .mapbody{
        color: rgba(0, 0, 0, 0);
        position:absolute;
        margin-top:0px;
        top:0px;
        background: url(images/map5.jpg);
        height:768px;
        width:1024px;
        font-size:12px;
    }
    .field{
        border:1px solid black;
        height:44px;
        width:44px;
        float:left;
    }
    .np{
        background: rgba(255, 0, 0, 0.5);
    }
    .al{
        background: rgba(255, 0, 0, 0.5);
    }
    .me{
        background: rgba(0, 255, 0, 0.5);
    }
    .bs{
        background: rgba(155, 155, 255, 0.5);
    }

</style>


<div class="mapbody">
	<div class="listimage" id="listimage"><img class="list" id="list" src="images/list.png"></img> </div>
  <% for (var i=1; i<=12; i++ ) { %>
    <div class="row" id="r<%= i %>">
      <% for (var j=1; j<=21; j++ ) { -%>
        <div onclick="onFieldClick(this, <%= j + ', ' + i %>);" class="<%= j + '-' + i %> field"></div>
      <% } -%>
    </div>
  <% } %>
</div>

<div id="modal"></div>

<script>
    function onFieldClick(obj, x, y) {
        var cls = obj.className;
        var pos = { X:x, Y:y };
        $.ajax({
            url: "/map",
            data: { position : pos },
            method: "POST",
            statusCode: {
                200: function(res) {
                    $(".me").removeClass("me");
                    $("." + res.position.X + "-" + res.position.Y).addClass("me");
                    renderForm();
                    $('#modal').trigger('openModal');
                },
                403: function(jqXHR) {
                    console.log("403", arguments);
                }
            }
        });
    }
</script>

<script>
    $(function() {
        $.ajax({
            url: "/map?full=true",
            data: "",
            method: "GET",
            statusCode: {
                200: function(res) {
                    $(".field").addClass("np");
                    for (var i=0; i< res.length; i++) {
                        var p = res[i];
                        $("." + p.X + "-" + p.Y).removeClass("np");
                        if(p.BS){
                            $("." + p.X + "-" + p.Y).addClass("bs");
                        }
                    }
                },
                403: function(jqXHR) {
                    console.log("403", arguments);
                }
            }
        });
        $.ajax({
            url: "/map",
            data: "",
            method: "GET",
            statusCode: {
                200: function(res) {
                    $(".me").removeClass("me");
                    $("." + res.X + "-" + res.Y).addClass("me");
                },
                403: function(jqXHR) {
                    console.log("403", arguments);
                }
            }
        });
    });
</script>

<script type="text/javascript">
$(function() {
    $('#modal').easyModal({
        top: 100,
        autoOpen: false,
        overlayOpacity: 0.3,
        overlayColor: "#333",
        overlayClose: false,
        closeOnEscape: true
    });
});

$('#listimage').click(function(e){
    renderForm();
    $('#modal').trigger('openModal');
    e.preventDefault();
});

function renderForm() {
    var modal = $('#modal');
    modal.empty();

    $.ajax({
        url: "/",
        data: "",
        method: "GET",
        statusCode: {
            200: function(problem) {
                var formHTML = '';
                formHTML += '<form id="game" method="post">';
                formHTML += '<h2>' + problem.topic + '</h2>';
                formHTML += '<p>' + problem.question + '</p>';
                if (problem.takenHints) {
                    formHTML += '<p>Подсказки</p>';
                    formHTML += '<ul>';
                    for (var i=0; i<problem.takenHints.length ; i++) {
                        formHTML += '<li>' + problem.takenHints[i] + '</li>'
                    }
                    formHTML += '</ul>';
                }
                formHTML += '<input type="text" name="answer"/>';
                formHTML += '<input type="submit" formmethod="post" formaction="/" />';
                formHTML += '</form>'

                modal.append(formHTML);
            },
            403: function(jqXHR) {
                console.log("403", arguments);
            }
        }
    });
    
    
};
</script>
