<meta http-equiv="content-type" content="text/html; charset=UTF-8">

<script type='text/javascript' src='roulette5/jquery-1.7.1.js'></script>
<script type='text/javascript' src='roulette5/countdown.js'></script>
<script type="text/javascript" src="roulette5/jQueryRotate.js"></script>
<script type="text/javascript" src="roulette5/jquery.easing.min.js"></script>

<style type='text/css' src='countdowncss.css'></style>

<style type='text/css'>

    .styled{
        position:absolute;
        top:20px;
        right:50px;
        width:150px;
        height:50px;
        background-color:#ead182;
    }

    .diskmap{
        position: absolute;
        top:100px;
        left: 50px;
    }

    .bgdiv{
        position:absolute;
        top:0px;left:0px;
        background-image: url(roulette5/bg.png);
        width:1156px;
        height:768px;

    }

    .megatext{
        position:absolute;
        top:100px;
        left:550px;
        background-image: url(roulette5/megatext2+.png);
        width:587px;
        height:660px;
        overflow-y:scroll;
    }

    .textinside{
        padding-left:40px;
        padding-top:10px;
        color:#ffc750;
        font-size:14pt;
    }

    .alarm{
        position:absolute;
        display:block;
        top:0px;
        left:0px;
        width:1156px;
        height:768px;
        background-image: url(roulette5/alarm.png);
    }

    #alarmp{
        color:#ff0000;
        font-size:20pt;
        padding-left:40px;
    }

    #image{
        top: 285px;
        left: 475px;
    }

    .input{
        position:absolute;
        top:620px;
        left:50px;
        background-image:url(roulette5/input2+.png);
        width:296px;
        height:61px;
        z-index:10;
    }
    #inputarea{
        background: transparent;
        margin-top:15px;
        margin-left:10px;
        width:260px;
        height:25px;
        border:none;
        outline: none;
        color:#ffc750;
        font-size:14pt;
        padding-left:10px;
    }

    .okbut{
        width:142px;
        height:60px;
        position:absolute;
        top:620px;
        left:350px;
        z-index:10;
    }

    .serviceinput{
        position:absolute;
        top:570px;
        left:50px;
        background-image:url(roulette5/service_input2+.png);
        width:445px;
        height:39px;
    }

    #serviceinputarea{
        color:#ffc750;
        font-size:14pt;
        padding-left:15px;
        width:445px;
        height:39px;
        border:none;
        outline: none;
        background: transparent;
    }

    .arrow{
        position: absolute;
        top:295px;
        left: 490px;
    }

    .spinner{
        position:absolute;
        top:690px;
        left:45px;
        width:466px;
        height:68px;
    }
</style>

<style type='text/css'>

    .styled div {
        display: inline-block;
        margin-left: 10px;
        font-size: 30px;
        font-weight: 100;
        line-height: 1;
        text-align: right;
    }
    /* IE7 inline-block hack */
    *+html .styled div{
        display: inline;
        zoom: 1;
    }
    .styled div:first-child {
        margin-left: 0;
    }
    .styled div span {
        display: block;
        border-top: 1px solid #cecece;
        padding-top: 3px;
        font-size: 12px;
        font-weight: normal;
        text-transform: uppercase;
        text-align: left;
    }
</style>


<script type='text/javascript'>

function rotatemywheel(myPrev,myCur, mycb) {
//    var myPrev = 0; //тут сделать запрос на номер предыдущего уровня
//    var myCur = 1; //тут - на номер текущего
    var myAngle = 0; //константа угла вращения

    var turns = 1800;

    switch (myCur) {
        case (1):
            myAngle = 1;
            turns = 1800
            break
        case (2):
            myAngle = 1;
            turns = 0
            break
        case (3):
            myAngle = 8;
            turns = 1800
            break
        case (4):
            myAngle = 8;
            turns = 0
            break
        case (5):
            myAngle = 9;
            turns = 1800
            break
        case (6):
            myAngle = 9;
            turns = 0
            break
        case (7):
            myAngle = 0;
            turns = 1800
            break
        case (8):
            myAngle = 0;
            turns = 0
            break
        case (9):
            myAngle = 3;
            turns = 1800
            break
        case (10):
            myAngle = 3;
            turns = 0
            break
        case (11):
            myAngle = 5;
            turns = 1800
            break
        case (12):
            myAngle = 5;
            turns = 0
            break
        case (13):
            myAngle = 7;
            turns = 1800
            break
        case (14):
            myAngle = 7;
            turns = 0
            break
        case (15):
            myAngle = 2;
            turns = 1800
            break
        case (16):
            myAngle = 2;
            turns = 0
            break
        case (17):
            myAngle = 11;
            turns = 1800
            break
        case (18):
            myAngle = 11;
            turns = 0
            break
        case (19):
            myAngle = 6;
            turns = 1800
            break
        case (20):
            myAngle = 6;
            turns = 0
            break
        case (21):
            myAngle = 10;
            turns = 1800
            break
        case (22):
            myAngle = 10;
            turns = 0
            break
        case (23):
            myAngle = 4;
            turns = 1800
            break
        case (24):
            myAngle = 4;
            turns = 0
            break
    }
    var subvalue = myAngle * 30 + 15 + turns; //константа*сектор+полсектора+4 оборота

//вращение на нечетных
    if (myCur % 2 != 0 && myCur > 0) {
        $("#arrowhead").rotate({
            angle: myPrev,
            center: ["-420%", "50%"],
            animateTo: subvalue,
            duration: 4000,
            callback: mycb
        });
    }else{
        mycb;
    }
}

function setPosition(myCur){
    var myAngle = 0;

    switch (myCur){
        case (1):
            myAngle = 1;
            break
        case (2):
            myAngle = 1;
            break
        case (3):
            myAngle = 8;
            break
        case (4):
            myAngle = 8;
            break
        case (5):
            myAngle = 9;
            break
        case (6):
            myAngle = 9;
            break
        case (7):
            myAngle = 0;
            break
        case (8):
            myAngle = 0;
            break
        case (9):
            myAngle = 3;
            break
        case (10):
            myAngle = 3;
            break
        case (11):
            myAngle = 5;
            break
        case (12):
            myAngle = 5;
            break
        case (13):
            myAngle = 7;
            break
        case (14):
            myAngle = 7;
            break
        case (15):
            myAngle = 2;
            break
        case (16):
            myAngle = 2;
            break
        case (17):
            myAngle = 11;
            break
        case (18):
            myAngle = 11;
            break
        case (19):
            myAngle = 6;
            break
        case (20):
            myAngle = 6;
            break
        case (21):
            myAngle = 10;
            break
        case (22):
            myAngle = 10;
            break
        case (23):
            myAngle = 4;
            break
        case (24):
            myAngle = 4;
            break
    }

    $("#arrowhead").rotate({
        angle: myAngle*30+15,
        center: ["-420%", "50%"],
    });
}

</script>

<div class="bgdiv">

    <div class="alarm" id="alarm">
        <p class = "alarmp" id="alarmp"></p>
    </div>

    <div class="countdown styled" id="countdown">

    </div>

    <div class="diskmap">
        <img src="/roulette5/disk2+.png" id="disk">
    </div>

    <div class="arrow">
        <img src="/roulette5/arrow6.png" id="arrowhead">
    </div>


    <div class="serviceinput">
        <input type="text" readonly id="serviceinputarea" value=""/>
    </div>

    <form id = "game" onsubmit="return false">
    <div class="input">
        <input type="text" id="inputarea" name = "answer" autocomplete="off"/>
    </div>
    </form>

    <div class="okbut">
        <img src="/roulette5/ok2+.png"
             onmouseout="this.src='/roulette5/ok2+.png'"
             onmouseover="this.src='/roulette5/ok_hover.png'"
             onclick="sendAnswer();"
                >
    </div>

    <div class="spinner">
        <img src="/roulette5/spin2+.png"
             onmouseout="this.src='/roulette5/spin2+.png'"
             onmouseover="this.src='/roulette5/spin_hover.png'"
             onclick="rotate();"
                >
    </div>

    <div class="megatext">
        <p class="textinside"></p>
    </div>

</div>

<script type="text/javascript">
    function startTimer(dateS,myCur) {
        $('.countdown').countdown({
            date: new Date(dateS),
            //date: new Date().addHours(1),
            render: function (data) {
                var el = $(this.el);
                el.empty()
                        .append("<div>" + this.leadingZeros(data.hours, 2) + " <span>hrs</span></div>")
                        .append("<div>" + this.leadingZeros(data.min, 2) + " <span>min</span></div>")
                        .append("<div>" + this.leadingZeros(data.sec, 2) + " <span>sec</span></div>");
            },
            onEnd: function () {

            if(myCur==0){
                document.getElementsByName('answer').value = "автопереход";
                sendAnswer();
                }
            }
        });

    };
</script>

<script>
    function checkAdminMessages() {
        $.getJSON("/message", function(messages) {
            var value = messages[messages.length-1].message;
            /*for (var i=0; i<messages.length; i++) {
                value += messages[i].message + "; ";
            }*/
            $("p.alarmp").html(value);
        });
    };
    checkAdminMessages();
    //setInterval(checkAdminMessages, 10000);
</script>

<script>
    $(reloadMap = function() {
        $.ajax({
            url: "/map",
            data: "",
            statusCode: {
                200: function(res) {
                    getProblem();
                },
                403: function(jqXHR) {
                    console.log("403", arguments);
                }
            }
        });
    });
</script>

<script type="text/javascript">
function getProblem() {

$.ajax({
url: "/",
data: ""
})
    .done(function(problem) {
            var textProblem = "";
            if (problem.visible){
                textProblem = problem.topic + " ( " + problem.cost + " баллов)" + '<br>' + problem.question + '<br';
                var i =0;
                if (problem.takenBonuses.length>0) {
                    textProblem = textProblem + "<br><br>" + "зачислены бонусы:";
                    for (i = 0; i < problem.takenBonuses.length; i++) {
                        textProblem = textProblem + '<br>' + problem.takenBonuses[i].text + " ( +" + problem.takenBonuses[i].cost + " баллов)";
                    }
                }
                var i =0;
                if (problem.takenHints.length>0) {
                    textProblem = textProblem + "<br><br>" + "использованы подсказки:";
                    for (i = 0; i < problem.takenHints.length; i++) {
                        textProblem = textProblem + '<br>' + problem.takenHints[i].text + " ( -" + problem.takenHints[i].cost + "баллов)";
                    }
                }
                document.getElementById('serviceinputarea').value = "";
                //setPosition(problem.myCur);
                startTimer(problem.timeStart,problem.myCur);
            }
            $("p.textinside").html(textProblem);
        })
    .fail(function(jqXHR) {
        console.log(jqXHR.status + " " + jqXHR.message);
    });
}

</script>

<script type="text/javascript">
    function sendAnswer() {
        console.log("POST on /");
        var answer = document.getElementsByName('answer').value;
        document.getElementsByName('answer').value = "";
        $.ajax({
            url: "/",
            data: $("#game").serialize(),
            type: "post"
        })
                .done(function (resp) {
   /*                 if (resp.correctAnswer || resp.skipProblem) {
                        document.getElementById('serviceinputarea').value = resp.message;
                        reloadMap();
                    }
                    else if (resp.hint || resp.bonus) {
                        //перегрузить задание  добавить подсказки/ бонусы
                        document.getElementById('serviceinputarea').value = resp.message;
                    }*/
                    document.getElementById('serviceinputarea').value = resp.message;
                    reloadMap();
                })
                .fail(function (jqXHR) {
                    var responseText = jQuery.parseJSON(jqXHR.responseText)
                    document.getElementById('serviceinputarea').value = responseText.message;
                });

    }
</script>

<script>
    function rotate(){
    console.log("POST on /map");
        $.ajax({
            url: "/map",
            data: "",
            type: "post"
        })
                .done(function(resp){
                    if(resp.visible) {
                        rotatemywheel(resp.myPrev, resp.myCur,getProblem());
                    }
                })
                .fail(function(jqXHR) {
                    console.log(jqXHR.status + " " + jqXHR.message);
                });
    }
</script>
