<% layout('./layout/page2.ejs') -%>
<% block('title', 'SR 112') -%>

<p class="lead">Сообщения от администраторов</p>

<form id="publish" class="form-inline" method="post">
    <input type="text" name="message"/>
    <input type="submit" class="btn btn-primary" value="Отправить"/>
</form>

<table border="1">
<tr><td>Timestamp</td><td>message</td></tr>
<% for (var i=0; i< messages.length; i++) { %> 
<tr><td><%= messages[i].timestamp -%> </td><td> <%= messages[i].message -%></td></tr>
<% } %>
</table>
