<% layout('./layout/page.ejs') -%>
<% block('title', 'SR 112') -%>

<table border="1">
	<tr>
		<td>ID</td>
		<td>Topic</td>
		<td>Cost</td>
	</tr>
<% for (var i=0; i<problems.length; i++) { %>
	<% var problem = problems[i]; %>
	<tr>
		<td><a href="/problem/<%= problem._id -%>"><%= problem._id -%></a></td>
		<td><%= problem.topic -%></a></td>
		<td><%= problem.cost -%></a></td>
	</tr>
<% } %>
</table>

