<% layout('./layout/page.ejs') -%>
<% block('title', 'SR 112') -%>

<table border="1">
	<tr>
		<td width="10%">Topic</td>
		<td width="10%">Cost</td>
        <td width="80%">Question</td>
	</tr>
<% for (var i=0; i<problems.length; i++) { %>
	<% var problem = problems[i]; %>
	<tr>
		<td ><a href="/problem/<%= problem._id -%>"><%= problem.topic -%></a></td>
		<td><%= problem.cost -%></a></td>
        <td><%= problem.question -%></a></td>
	</tr>
<% } %>
</table>

