<% layout('./layout/page.ejs') -%>
<% block('title', 'SR 112') -%>

<!-- start -->

<style type="text/css">
    .imgbody {
        background: url('images/i21.jpg');
        width: 807px;
        height: 646px;
    }
</style>

<div class="imgbody">
    <div class="countdown-styled" style="margin-right:50px; margin-left:20px; top:50px; color:#ffc750;"></div>
</div>

<script type="text/javascript">
    $(function () {
        $('.countdown-styled').countdown({
            date: new Date(<%=timeStart -%>),
            render: function (data) {
                var el = $(this.el);
                el.empty()
                        .append("<div>" + this.leadingZeros(data.hours, 2) + " <span>hrs</span></div>")
                        .append("<div>" + this.leadingZeros(data.min, 2) + " <span>min</span></div>")
                        .append("<div>" + this.leadingZeros(data.sec, 2) + " <span>sec</span></div>");
            },
            onEnd: function () {
                window.location.href = "/map";
            }
        });

    });
</script>
