<% layout('./layout/page.ejs') -%>
<% block('title', 'SR 112') -%>
<form id="users" method="post" align="center">
    <div>
        <input type="submit" value="Добавить пользователя">
    </div>
    <div>
        <table border="1" >
            <tr  align="center">
                <td>Имя пользователя</td>
            </tr>
            <% for (var i=0; i<users.length; i++) { %>
            <% var user = users[i]; %>
            <tr>
                <td ><a href="/user/<%= user._id -%>"><%= user.username -%></a></td>
            </tr>
            <% } %>
        </table>
    </div>
</form>


<script>
    function addUser() {
        console.log(arguments);
    }
</script>
