<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title><%=pageTitle%></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/js/jquery.js"> </script>
    <script src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full&skin=light&lazy=true" data-id="dgLoader"></script>
</head>
<body>

<%- body -%>

</body>
</html>
