<!DOCTYPE html>
<html>
  <head>
    <title><%=pageTitle%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css'/>
    <script src='http://yandex.st/jquery/2.1.0/jquery.js'> </script>
    <script src='/js/jquery.easyModal.js'></script>
    <script src='http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js'></script>

    <link rel="stylesheet"  href="/stylesheets/ZForms-screen.css" media="Screen" />
    <link rel="stylesheet"  href="/stylesheets/ZForms-screen-ie.css" media="Screen" />

    <script  src="/js/Common-min.js"></script>
    <script  src="/js/ZForms-3.0.4-min.js" charset="utf-8"></script>

  </head>
  <body>

    <%- partial('../partials/topNavigation') -%>
    
    <%- body -%>

    <footer>
      <%- partial('../partials/footer') -%>
    </footer>
  </body>
</html>
