<!DOCTYPE html>
<html>
  <head>
    <title><%= blocks.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- partial('../partials/topNavigation') -%>
    
    <%- body -%>
    <footer>
      <%- partial('../partials/footer') -%>
    </footer>
  </body>
</html>
