<!DOCTYPE html>
<!-- saved from url=(0028)http://ostinru.name:3000/map -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>SR 112</title>
    <link rel="stylesheet" href="http://ostinru.name:3000/stylesheets/style.css">
    <link rel="stylesheet" href="http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="jquery.js"> </script><style type="text/css"></style>
    <script type="text/javascript" src="jquery.countdown.js"></script>
    <link rel="stylesheet" href="countdown.css">

</head>
<body>
<%- partial('../partials/topNavigation') -%>

<%- body -%>

<footer>
    <%- partial('../partials/footer') -%>
</footer>
</body>
</html>
