<!DOCTYPE html>
<html>
  <head>
    <title><%= blocks.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='http://yandex.st/bootstrap/3.1.1/css/bootstrap.min.css'/>
    <script src='http://yandex.st/jquery/2.1.0/jquery.js'> </script>
    <script src='http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js'></script>
  </head>
  <body>

    <%- partial('../partials/topNavigation') -%>
    
    <%- body -%>
    <footer>
      <%- partial('../partials/footer') -%>
    </footer>
  </body>
</html>
